#homepage button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 50%;
  padding: .7em 1em;
  /*margin: 4em auto 3em;*/
  margin-left: calc(50% - 75px);
  margin-top: 5em;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
  box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);

  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
#homepage button .fa {
  font-size: 100px;
  line-height: 150px;
  margin: 0;
  text-shadow: 1px 2px 2px #2a8b90;
}
#homepage button:hover {
  transform: scale(.92);
  cursor: pointer;
}
#homepage button:active {
  filter: brightness(.8);
}
#homepage button:focus {
  outline: 0;
}

#homepage #word {
  font-size: 30px;
  margin-top: 15px;
  text-transform: uppercase;
}

#homepage .result {
  font-size: 30px;
  margin-top: 15px;
  text-transform: uppercase;
}
#homepage .reload_word:hover {
  cursor: pointer;
}

/*progress*/
#homepage .pie_progress {
  width: 300px;
  margin: 10px auto;
}
@media all and (max-width: 768px) {
  #homepage .pie_progress {
    width: 80%;
    max-width: 300px;
  }
}
